<form action="/explore/posts/{{post._id}}/day/create" method="post" enctype="multipart/form-data">

    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Add title">
 
    <label for="location"> Location:</label>
    <input type="text" name="location" placeholder="Add location">
   
    <label for="description">Description:</label>
    <textarea name="description" rows="10" cols="45"></textarea>

    <label for="image">Image:</label>
    <input type="file" name="image" placeholder="Add an image">

    <button>Add day</button>
</form>