/* public/stylesheets/style.css */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  position: relative;
  min-height: 30em;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)
    ),
    url("/images/travelist-background-bis.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .container {
  position: relative;
  z-index: 1; 
  color: #fff; 
  text-align: center; 
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 500;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/* login and signup styling */
.signin-container{
  padding: 3% 1.5%;
  background-image: url("../images/roadtrip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-signin, .form-login {
  max-width: 45vw;
  border-radius: 5%;
  padding: 10% 10%;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  background-color: rgba(250, 235, 215, 0.85);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.login-container{
  padding: 10% 5%;
  background-image: url("../images/roadtrip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.custom-container {
  width: 65vw;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-form-body{
  background: linear-gradient(135deg, #f2cc8f, #f4f1de);
  margin: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-container {
  width: 35vw;
  overflow: hidden;
  border: 1px solid #ccc;
}

.thumbnail {
  width: 35vw;
}

.thumbnail-profile{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-container-profile{
  width: 300px;
  /* height: 300px; */
}
