<h3>Create a new post</h3>

<form
  action="/explore/posts/create"
  method="post"
  enctype="multipart/form-data"
>

  <label>Title:</label>

  <input type="text" name="title" placeholder="Add travel title" />

  <label for="image">Image:</label>
  <input type="file" name="image" placeholder="Add an image" />

  <select id="location" name="location" placeholder="Add location">
    {{#each countries}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
  </select>

  <label for="description">Description:</label>
  <textarea name="description" rows="10" cols="45"></textarea>

  <label> Duration:</label>
  <input type="number" name="duration" placeholder="Add duration in days" />

  <label>Distance:</label>
  <input type="number" name="distance" placeholder="Add distance in km" />

  <label> Type of Trip: </label>
  <select name="typeOfTrip" multiple>
    <option>Escape trip</option>
    <option>Spa trip</option>
    <option>Honeymoon</option>
    <option>Cultural Trip</option>
    <option>Road Trip</option>
  </select>

  <button type="submit">Create post</button>

</form>